{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Hey, User!</h2>
        <h3>Welcome to Kolkata!</h3> 
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-8 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 style="color: white">{{ item.text }}</h4>
              <a class="btn btn-light btn-sm" href="{{ item.url }}">{{ item.action }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for post in site.data.settings.posts %}
      <div class="col-lg-4 col-8 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ post.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 style="color: white">{{ post.text }}</h4>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}